Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
FEG Live Producer.sdf
FEG Live Producer.opensdf
ipch/feg live producer-9a38b65d/feg live producer-7130f7f2.ipch
FEG Live Producer/GeneratedFiles/*
FEG Live Producer/GeneratedFiles/*
ipch\feg live producer-8f6b8ec5*/